{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="wrapper-home">
    
   
    <h1>Home</h1>
    <nav>
        <ul class="list-home">
            <li><a href="{{ path ('app_session') }}">Sessions list</a></li>
            <li><a href="{{ path ('app_trainee') }}">Trainees list</a></li>
            <li><a href="{{ path ('app_training') }}">Trainings list</a></li>
            <li><a href="{{ path ('app_category') }}">Categories list</a></li>
            <li><a href="{{ path ('app_module') }}">Modules list</a></li>
            {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path ('new_trainee') }}">Add a trainee</a></li>
                <li><a href="{{ path ('new_session') }}">Add a session</a></li>
                <li><a href="{{ path ('new_category') }}">Add a category</a></li>
                <li><a href="{{ path ('new_module') }}">Add a module</a></li>
            {% endif %}
        
        </ul>
    </nav>
</div>
{% endblock %}
