{% extends 'base.html.twig' %}

{% block title %}Details of the session{% endblock %}

{% block body %}

    <h1> Details of the session</h1>
    <h2>Program: </h2> <br>

    Beginning date : {{ session.beginningDate}} <br>
    Ending date : {{ session.endingDate}} <br>
    Number of places : {{ session.numberPlace}} <br>

   
    <h3>Modules:</h3> 
        {% for program in session.programs %}
            <a href={{ path('show_module', {'id':program.module.id} )}}> {{ program.module }} </a> <a href={{ path('show_category', {'id':program.module.category.id} )}}> - {{ program.module.Category }} </a>- {{ program.nbDays }} days <br>
          
    {% endfor %}
    <h2>Trainees registered in this session :</h2> <br>
        {% for trainee in session.trainees %} 
            <li>
                <a href="{{ path('show_trainee', {'id':trainee.id} )}}">{{ trainee }}</a>
                <a href="{{ path('removeTrainee_session', {'id': session.id, 'traineeId': trainee.id} )}}"> X </a>
            </li>  <br> 
        {% endfor %}

    <h2>Trainees not registered in this session :</h2>
        {% for trainee in notRegistered %}
            <li>
                <a href="{{ path('show_trainee', {'id':trainee.id} )}}">{{ trainee }}</a>
                <a href="{{ path('addTrainee_session', {'id': session.id, 'traineeId': trainee.id} )}}"> + </a>
                
            </li>
            {% endfor %}
            
            <h2> Modules not programed in this session : </h2> <br>
            {% for module in notProgrammed %}
           
            <li>
                <a href="{{ path('show_module', {'id':module.id} )}}">{{ module }}</a>
                
               {# {{ form(formAddProgram )}} #}

            </li>
        {% endfor %}

{% endblock %}
