<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="{{ path ('app_session') }}">Sessions list</a></li>
                <li><a href="{{ path ('app_trainee') }}">Trainees list</a></li>
                <li><a href="{{ path ('app_training') }}">Trainings list</a></li>
                <li><a href="{{ path ('app_category') }}">Categories list</a></li>
                <li><a href="{{ path ('app_module') }}">Modules list</a></li>
                <li><a href="{{ path ('new_trainee') }}">Add trainee</a></li>
                <li><a href="{{ path ('new_session') }}">Add a session</a></li>
                <li><a href="{{ path ('new_category') }}">Add a category</a></li>
                <li><a href="{{ path ('new_module') }}">Add a module</a></li>
                <li><a href="{{ path ('new_program') }}">Add a program</a></li>
            </ul>
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>
