{% extends 'base.html.twig' %}

{% block title %}Details of trainees{% endblock %}

{% block body %}
    <h1> Details of trainees</h1>
    <h2> {{ trainee }}</h2>
        {{ trainee }} <br>
        {{ trainee.gender }} <br>
        {{ trainee.age }} ans <br>
        {{ trainee.fullAdress }} <br>
        {{ trainee.emailTrainee }} <br>
        {{ trainee.phone }} <br>
        
{% endblock %}